<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        ul{
        display:none
        }
    </style>
</head>
<body>
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
    <h2 class="text-center">Yangi parolni kiriting</h2>
    <p class="my-4 fs-5 text-center">Saytda profilingiz uchun yangi parolni kiriting</p>
    <form method="post">
    {% csrf_token %}
    {{ form | crispy}}
        <input type="submit" value="Parolni saqlash" class="btn btn-primary">
    </form>
</div>
{% endblock %}
</body>
</html>